/* header */
body,
html,
.container {
  margin: 0;
  height: 100%;
}

/* for main grid container which holds header footer and main */

.header-container {
  width: 100%;
  background-color: hsl(214, 25%, 18%); /*  */
  outline: 2px solid black;
  display: flex;
  flex-direction: row;
}

.header-container .logo {
  /* position: fixed; */
  width: 4.5em;
  border-radius: 2.5em;
}


.header-div {
  margin-left: 1em;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 3em;
}

.header-div :hover {
  /* for logo */
  background-color: black;
  border: 1px solid hsl(214, 25%, 78%);
}

.header-container ul {
  background-color: #232d3a;
  margin-left: auto;
  margin-right: 5%;
  /* outline: 2px solid red; */
  display: flex;
  gap: 7vw;
}
.header-container li {
  padding: 0.5em;
  list-style-type: none;
  color: white;
  font-size: 3vh;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  outline: 1px solid hsl(0, 0%, 40%);
  flex-grow: 1;
}

.header-container li:hover {
  cursor: pointer;
  background-color: hsl(214, 25%, 28%);
  color: white;
  outline: 1px solid white;
}

/* ----------------------------------------------------- body */
/*################ main */
.main-container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-area: m;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* parts */
.main-children {
  background-color: hsl(0, 0%,80%);
  outline: .13em  solid grey;
  margin: 5% 7%;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh 30vh;
}

/* parts subchild */
.child {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.one-one {
  margin: 10% 0 0 0;
  border-radius: 10%;
  overflow: visible;
}

.description {
  margin-top: -3em;
  padding: 0 1em;
  outline: .15em  solid grey;
  border-radius: 0.26em;
}
.description p {
  color: hsl(0, 0%, 25%);
  margin: 0.71em;
  font-size: medium;
  font-weight: 600;
}
#img {
  width: 40%;
}
/*text */
.two-two {
  display: grid;
  margin: 0;
}
.child h1 {
  color: hsl(0, 0%, 25);
  margin: 0 5%;
}





/* ---------promotion part DF Electronics */
.promo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
}

#df-electronics {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 5rem;
  outline: 3px solid white;
  outline-offset: 0.2em;
  margin-block: 0.4em;
}

#promo-p1 {
  width: 60%;
  font-size: 2.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  margin-bottom: -0.59em;
}

#promo-p2 {
  width: 60%;
  margin-bottom: 0.4em;
  font-size: 2.3em;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}












/* Products page css for laptops and headphones */
body{
  background-color: hsl(0, 0%, 90%);
}

.laptops-container{
  display: flex;
  flex-wrap: wrap;
}
.laptop-item{
  display: flex;
  flex-direction: column;
  flex-basis: 22%;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  background-color: white;
}
.offer-available{
  background-color: green;
  border-radius: 0.1em;
  padding: 0.3em;
}
.laptop-price{
  color: red;
}
.headphones-container{
  display: flex;
  flex-wrap: wrap;
}
.headphone-item{
  display: flex;
  flex-direction: column;
  flex-basis: 22%;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  background-color: white; 
}











/*------------------------------------------------ footer */

/*-------------------- Footer ----------- */
.footer-container {
  padding: 1em;
  background-color: hsl(214, 25%, 18%);
}
.footer-mainchild {
  background-color: hsl(214, 25%, 18%);
  padding: 1em;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 5em 20em 3em;
  grid-template-areas:
    "M M M M M"
    "A A A A A"
    "L L L L L";
}

/* -----------  footer top */
.footer-top {
  grid-area: M;
  color: white;
  display: flex;
}
.footer-top:hover {
  border-radius: 0.81em;
  outline: 2px solid hsl(0, 0%, 30%);
}
.footer-top ul {
  background-color: #232d3a;
  margin-right: auto;
  display: flex;
  gap: 9vw;
}

.footer-top li {
  padding: 0.5em;
  list-style-type: none;
  color: hsl(0, 0%, 75%);
  font-size: 2.3vh;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  flex-grow: 1;
}

.footer-top li:hover {
  cursor: pointer;
  color: white;
  outline: 1px solid grey;
  border-radius: 0.5em;
}

#noCSS-follow-us:hover {
  cursor: unset;
  color: hsl(0, 0%, 75%);
  outline: none;
}

/* -------- footer middle */

.footer-middle {
  grid-area: A;
  display: grid;
  color: hsl(0, 0%, 75%);
  margin: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  grid-template-columns: repeat(3, auto);
  gap: 1em;
}
.footer-middle:hover {
  border-radius: 1em;
  outline: 2px solid hsl(0, 0%, 30%);
}
.footer-middle .middle {
  margin: 0.6em 4em;
  padding: 1em;
}
.footer-middle .middle ul {
  list-style-type: none;
}

.footer-middle li {
  margin: 0.3em;
  font-size: 2.2vh;
}
.footer-middle li:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline white;
}

/* ------last footer */
.last-footer {
  grid-area: L;
  color: white;
  display: flex;
}
.last-footer:hover {
  border-radius: 0.81em;
  outline: 2px solid hsl(0, 0%, 30%);
}

.last-footer ul {
  background-color: #232d3a;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
}
.last-footer li {
  margin-left: 2em;
  padding: 0.3em;
  list-style-type: none;
  color: hsl(0, 0%, 75%);
  font-size: 2vh;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  flex-grow: 1;
}
.last-footer li:hover {
  cursor: pointer;
  color: white;
  outline: 1px solid grey;
  border-radius: 0.2em;
}
/* ---------additional content to the homepage*/

.sales-points{
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
}
.sales-point{
  flex-basis: 30%;
  margin-inline: 0.5em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.sales-point-h2{
  text-align: center;
}
